<p id="notice"><%= notice %></p>

<h4 style="word-wrap:break-word;"><%= @post.headline %></h4>

<div class="divider"></div>

<h5 class="flow-text" style="word-wrap:break-word;"><%= @post.content %></h5>

</br></br></br></br></br></br>

<% if @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post), class: "waves-effect waves-light btn" %>
<% end %>
<%= link_to 'Back', posts_path, class: "waves-effect waves-light btn" %>
