<!DOCTYPE html>
<html>
  <head>
    <title>Webforum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar-fixed">
      <nav class="blue darken-4">
        <div class="nav-wrapper">
          <div class="container">

            <%= link_to "Forum", root_path, class:"brand-logo" %>
              <ul class="right hide-on-med-and-down">
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              </ul>
          </div>
        </div>
      </nav>
    </div>

  	<div class="container">
  		<%= yield %>
  	</div>

    
  </body>
</html>
